.App {
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.App-title {
    font-size: 50px;
}

.Clock-hours, .Clock-days, .Clock-minutes, .Clock-seconds {
    display: inline-block;
}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}